<div class="navbar bd-navbar">
  <div class="container">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">התחברות</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home">דף הבית</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/Backoffice">בניית משחק</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/mobile">סלולארי</a>
      </li>
      <li routerLinkActive="active">
        <a (click)="signOut()">התנתק</a>
      </li>
    </ul>
  </div>
</div>

<div class="container py-md-3 pl-md-5">
  <router-outlet></router-outlet>
</div>
