.navbar {
    background: #222b38;
}

.navbar ul {
    margin: 0;
}

.navbar ul>li {
    display: inline-block;
    margin: 0em 1em;
}

.navbar ul>li>a {
    color: #fff;
}

.navbar ul>li:hover>a{
    color: #52bff4;
}

.navbar ul>li.active>a {
  color: #52bff4;
}

a {
  cursor: pointer;
}
