.header {
    text-align: center;
}

.input-minutes {
    float: none;
    margin: 1em auto;
}

label {
    width: 100%;
    text-align: right;
    font-weight: bold;
}

.groups-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em;
}

.box-container {
  width: 200px;
  text-align: center;
  margin: 15px 0;
}

a.box {
  border: 3px solid #e3e3e3;
  padding: 4%;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  /* -webkit-transform: translate(0,0); */
  /* transform: translate(0,0); */
  display: block;
  position: relative;
}

.box:hover {
    webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

