.images-container {
    padding: .5em;
    border: 1px solid #3e3e3e;
}

h3 {
    color: #2b38f4;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
}

.image-detail {
    margin: 0 0 1em 0;
}

.img-container {
    text-align: center;
}

.image-drop {
    position: relative;
    display: block;
    width: 100%;
    min-height: 10em;
    border: 1px solid #e3e3e3;
}

.img-view {
    width: auto;
    max-width: 100%;
}

.save-button-container {
    margin: 1em 0;
}